@import 'styles/variaveis';

.menu{
 padding: 25px $padding-horizontal; 
}

.header{
  align-items: center;
  background-image: url('/assets/cardapio/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  padding: 25px $padding-horizontal;
  &__text{
    color: #ffff ;
    font-size: 5rem;
    min-width: 400px;
    width: 40%;
  }
}

/* .botao{
  border-radius: 4px;
  background: #2B7DE9;
  color: white;
  padding: 12px;
} */