.menu{
 padding: 25px 250px;
}

.header{
  background-image: url('/assets/cardapio/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  &__text{
    color: blue($color: #000000);
  }
}

/* .botao{
  border-radius: 4px;
  background: #2B7DE9;
  color: white;
  padding: 12px;
} */